body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}
#myH1{
    font-size: 4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(72, 53, 32);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    padding: 30px;
    border-radius: 50px;
    background-color:burlywood;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(72, 53, 32);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border-radius: 10px;
    background-color: rgb(72, 53, 32);
    color: beige;
    cursor: pointer;
    transition: background-color 0.5s ease ;
}
.buttons:hover{
    background-color: rgb(54, 38, 20)!important;
}
